
/*coolors colors: #333333 #494949 #BFB6BB #28AFB0 #598B2C*/

body { 
    font-family: monospace;
    font-weight: bold;
    font-size: 1.4rem;
    color: whitesmoke;
    background-color: #333333;
    background-image: linear-gradient(20rad,#333333,#3a3a3a); 
    background-repeat:round;
}

h1 {
    margin-left: 4vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 4rem;
}

h2 {
    text-align: center;
    margin-top: 2vh;
}

h6 {
    text-align: center;
    font-weight: 100;
    color: #c5c5c5;
    margin: 0;
}

hr {
    border-color: #38640f;
    border-width: 2px;
    border-style: solid;
    margin-left: 10%;
    margin-right: 10%;
}

a {
    color: #38640f;
}

ul {
    text-align: center;
}

p {
    margin-bottom: 1vh;
}

.invis {
    filter: opacity(0.1);
    border-color: #ffffff;
    border-width: 1px;
    margin-left: 10vh;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-right: 10vh;
}

.aboutp {
    margin-bottom: 5vh;
}

.section {
    grid-column: 1 1;
    display: block;
    margin-top: 5vh;
    /* background-color: red; */
    flex-basis: 40vw;
    margin-right: 5vw;
    margin-left: 5vw;
    width: 90vw;
    height: 50vh;
}

.left {
    text-align: left;
    margin-left: 1vw;
}

.right {
    text-align: right;
    margin-right: 1vw;
}

.smaller {
    margin-top: 0;
    font-size: 0.9rem;
}

.smallest {
    margin-top: 0;
    font-size: 0.8rem;
}

#topline {
    margin-left: 5vw;
    margin-right: 5vw;
}

#header {
    /* background-color: purple; */
    height: 25%;
    margin: -1vh;
    text-align: left;   
}

#main {
    column-count: 2;
    display: grid;
    width: 100%;
    height: 100%;
}

@media (min-width: 900px) {
    
    li {
        margin-left: 10%;
        margin-right: 10%;
    }

    .section {
        width: 40vw;
    }

    #abouthr {
        display: none;
    }

    #aboutme {
        width: 90vw;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-bottom: 5vh;
    }
    
    #projects {
        grid-column-start: 1;
        grid-column-end: 2;
        /* background-color: purple; */
    }
    
    #hobbies {
        grid-column-start: 2;
        grid-column-end: 3;
        /* background-color: purple; */
    }

    #sports {
        grid-column-start: 1;
        grid-column-end: 2;
    }

}