
/*coolors colors: #333333 #494949 #BFB6BB #28AFB0 #598B2C*/

* { /*W3Schools told me to put this here*/
    box-sizing: border-box;
}

body {
    font-family: monospace;
    font-weight: bold;
    font-size: 1.4rem;
    color: whitesmoke;
    background-color: #333333;
    background-image: linear-gradient(20rad,#333333,#3a3a3a);
    background-repeat:round;
}

h1 {
    margin-left: 4vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-size: 4rem;
}

hr {
    border-color: #346b00;
    border-width: 2px;
    border-style: solid;
    margin-left: 10%;
    margin-right: 10%;
}

p {
    margin-bottom: 5vh;
}

#topline {
    margin-left: 5vw;
    margin-right: 5vw;
}

#header {
    /* background-color: purple; */
    height: 25%;
    margin: -1vh;
    text-align: left;   
}

#main {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    background-color: green;
    column-count: 2;
    width: 100%;
    height: 100%;
}

#aboutme {
    /* background-color: red; */
    margin-top: 5vh;
}

#projects {
    /* background-color: purple; */
}

.invis {
    filter: opacity(0.1);
    border-color: #ffffff;
    border-width: 1px;
    margin-left: 10vh;
    margin-right: 10vh;
}


.section {
    margin-right: 5vw;
    margin-left: 5vw;
    width: 90vw;
    height: 50vh;
}

.left {
    text-align: left;
    margin-left: 1vw;
}

.right {
    text-align: right;
    margin-right: 1vw;
}

